.card {
    margin-top: 100px;
}

.card-body {
    height: 150px;
}

.card-text {
    margin-top: 10px;    
}

.btn {
    margin-top: 10px;
}

.card-header {
    font-size: x-large;
}